.mainnav{
    background-color: var(--color-primary);
    height: 74px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}